In [8]:
print("hello world ")
print("sorry for becoming \n too late ")
#my name is debarghya kundu

hello world

'print("sorry for becoming \n too late ")'

In [11]:
i=0
if (i>0):
    print("ok") 
else:
    print("hello world ")

hello world

In [17]:
x="5"
y="john"
x+y

'5john'

In [18]:
x=50
y=100
print(x*y)

5000

In [20]:
principal=10000
Rate=8
time=2
si=(principal*Rate*time)/100
print(si)
amount=principal+si
print(amount)

1600.0
11600.0

In [23]:
def guddu():
    print("ok you have learned it ")
guddu()

ok you have learned it

In [25]:
a=3.62
print(a)

3.62

In [28]:
a=2j-6
print(a)

(-6+2j)

In [30]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [32]:
name=input("enter your name ")
print("welcome",name,"have a nice day")

welcome guddu have a nice day

In [33]:
a=int(input("enter the firts number"))
b=int(input("enter the second number"))
print("the sum of the number is ",a+b,"the product of the number is ",a*b)

the sum of the number is  14 the product of the number is  45

In [37]:
x=85.36
print(int(x))

85

In [39]:
x=15
y=12.36
print(x+int(y))

27

In [43]:
principal=int(input("enter the amount"))
Rate=int(input("enter the rate"))
time=int(input("enrter the time period"))
si=(principal*Rate*time)/100
print(si)
amount=principal+si

print(amount)

2750.0
13750.0

In [45]:
r=int(input("enrtr the radiu in cm "))
area=3.14*r**2
print(area)

200.96

In [50]:
age=int(input("entrt the age"))
if age>18:
    print("u re a adult")
else:
    print("not a adult")

u re a adult

In [2]:
num1=int(input("enter the first number "))
num2=int(input("entrt the second number"))
num3=int(input("enter the third number "))
if num1>num2 and num1>num3:
    print("num 1 is greater ")
elif num2>num1 and num2>num3:
    print("num 2 is greater")
else:
    print("num 3 is greater ")

num 1 is greater

In [4]:
#four function calculator 
num1=int(input("enter the first number "))
num2=int(input("entrt the second number"))
x=int(input("enter the 1 2 3 4"))
if x==1:
    print(num1+num2)
elif x==2:
    print(num1-num2)
elif x==3:
    print(num1*num2)
else:
    print(num1/num2)

8

In [5]:
basic=int(input("enter the basic salary"))
savings=int(input("enter the savings amount"))
total_income = 100000-basic-savings
print(total_income)

90000

In [7]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [12]:
for i in range (0,11):
    print ("3","*",i,"=",3*i)

3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [14]:
for i in range (10,19):
    print(i,"=",i**3)

10 = 1000
11 = 1331
12 = 1728
13 = 2197
14 = 2744
15 = 3375
16 = 4096
17 = 4913
18 = 5832

In [15]:
for i in range (1,11,2):
    print(i,"=",i**0.5)

1 = 1.0
3 = 1.7320508075688772
5 = 2.23606797749979
7 = 2.6457513110645907
9 = 3.0

In [23]:
num=5
fact=1
i=1
while i<=num:
    fact=fact*i
    i+=1
print(fact)

120